// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$blue: #3498db;
$grey: #95a5a6;
$text: #212121;

* {
	box-sizing: border-box;
}

img {
	width: 100%;
}

.btn-group {
	display: flex;
	flex-direction: row;
	form {
		margin: 0;
		input {
			margin: 0;
		}
	}

}

#content {
	margin-left: 0;
	width: 80%;
	float: right;
	#box {
		padding: 4rem;
	}
	#about-me {
		padding: 5rem;
	}
	.content-header {
		background: aliceblue;
		border-bottom: 1px solid $grey;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1.5rem;
		h3 {
			margin-bottom: 0;
			color: $text;
		}
		a {
			margin-bottom: 0;
		}
	}

	textarea {
		min-height: 15rem;
		max-height: 15rem;
		max-width: 100%;
	}

	.post {
		a {
			color: $text;
			text-decoration: none;
		}
	}
	.show-post {
		small {
			margin-bottom: 1.5rem;
			display: block;
		}
	}

	.post-form {
		margin-top: 5rem;
	}
}

#sidebar {
	width: 20%;
	position: absolute;
	border-right: 1px solid #bdc3c7;
	top: 0;
	left: 0;
	height: 100%;
	background: aliceblue;
	text-align: right;
	padding-right: 5rem;
	padding-top: 7rem;
	nav {
		display: flex;
		flex-direction: column;
		justify-content: center;
		.nav-title {
			color: $blue;
			margin-bottom: 1.6rem;
		}

		ul {
			list-style: none;
			color: $grey;
			li {
				a {
					color: $grey;
					text-decoration: none;
				}
			}
		}
	}
}

#comments {
	width: 100%;
}

.alert {
    display: block;
    padding: 20px;
    border-left: 5px solid;
}

.alert-success {
    background-color: #D5F5E3;
    border-left-color: #2ECC71;
    color: #2ECC71;
}

.alert-info {
    background-color: #D6EAF8;
    border-left-color: #3498DB;
    color: #3498DB;
}

.alert-warning {
    background-color: #FCF3CF;
    border-left-color: #F1C40F;
    color: #F1C40F;
}

.alert-error {
    background-color: #F2D7D5;
    border-left-color: #C0392B;
    color: #C0392B;
}